@font-face {
    font-family: "Grotezk Regular";
    src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Grotezk Fett";
    src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
}

@font-face {
    font-family: "Grotezk Satt";
    src: url("/fonts/ApfelGrotezk-Satt.woff2") format("woff2");
}

@font-face {
    font-family: "Grotezk Mittel";
    src: url("/fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
}

@font-face {
    font-family: "Grotezk Cyrillic Regular";
    src: url("/fonts/BasisGrotesque-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Grotezk Cyrillic Medium";
    src: url("/fonts/BasisGrotesque-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Grotezk Cyrillic Bold";
    src: url("/fonts/BasisGrotesque-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto SemiBold";
    src: url("/fonts/Roboto/Roboto-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Black";
    src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}